TS_AUTHKEY=tskey-auth-redacted
TS_HOSTNAME=skillloom-hub
TS_EXTRA_ARGS=--advertise-tags=tag:skillloom-hub
SKILLLOOM_SERVE_SERVICE=svc:skillloom
SKILLLOOM_SERVE_BACKEND=http://127.0.0.1:8787
SKILLLOOM_OBSIDIAN_SERVE_SERVICE=svc:skillloom-obsidian
SKILLLOOM_OBSIDIAN_SERVE_BACKEND=http://127.0.0.1:3000
SKILLLOOM_APP_CAP=skillloom.io/cap/skillloom
SKILLLOOM_OBSIDIAN_IMAGE=lscr.io/linuxserver/obsidian:v1.12.7-ls139
SKILLLOOM_OBSIDIAN_PUID=1000
SKILLLOOM_OBSIDIAN_PGID=1000
TZ=Asia/Bangkok
