TS_AUTHKEY=tskey-auth-redacted
TS_HOSTNAME=skillloom-hub
TS_EXTRA_ARGS=--advertise-tags=tag:skillloom-hub
SKILLLOOM_SERVE_SERVICE=svc:skillloom
SKILLLOOM_SERVE_BACKEND=http://127.0.0.1:8787
SKILLLOOM_APP_CAP=skillloom.io/cap/skillloom
