SKILLLOOM_HUB_DATA_DIR=./data
SKILLLOOM_OBSIDIAN_CONFIG_DIR=./obsidian-config
SKILLLOOM_OBSIDIAN_IMAGE=lscr.io/linuxserver/obsidian:v1.12.7-ls139
SKILLLOOM_OBSIDIAN_PUID=1000
SKILLLOOM_OBSIDIAN_PGID=1000
TZ=Asia/Bangkok
